<!DOCTYPE html>
<html lang="ru">

<head>
    <title>CAST-XXTEA</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
            margin: 20px 0;
        }

        th,
        td {
            border: 1px solid black;
            padding: 8px;
            text-align: center;
        }

        th {
            background-color: #f2f2f2;
        }

        canvas {
            width: 800px;
            height: 400px;
            margin: 0 auto;
        }
    </style>
</head>

<body>
    <ul class="nav justify-content-center mt-4">
        <li class="nav-item">
            <a class="nav-link active" href="/">CP</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/time">Тime</a>
        </li>
    </ul>
    <h4 class="text-center mt-4 mb-4">Время работы симметричных алгоритмов шифрования XXTEA и CAST на разных размерах
        файлов</h4>
    <main>
        <div class="container" id="timeResult">
            <h5 class="text-center">XXTEA</h5>
            <table>
                <thead>
                    <tr>
                        <th>Размер файла (кб)</th>
                        <th>Время зашифрования (мс)</th>
                        <th>Время расшифрования (мс)</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>10</td>
                        <td>
                            <%= encryptionTimesXXTEA[0] %>
                        </td>
                        <td>
                            <%= decryptionTimesXXTEA[0] %>
                        </td>
                    </tr>
                    <tr>
                        <td>100</td>
                        <td>
                            <%= encryptionTimesXXTEA[1] %>
                        </td>
                        <td>
                            <%= decryptionTimesXXTEA[1] %>
                        </td>
                    </tr>
                    <tr>
                        <td>500</td>
                        <td>
                            <%= encryptionTimesXXTEA[2] %>
                        </td>
                        <td>
                            <%= decryptionTimesXXTEA[2] %>
                        </td>
                    </tr>
                    <tr>
                        <td>1000</td>
                        <td>
                            <%= encryptionTimesXXTEA[3] %>
                        </td>
                        <td>
                            <%= decryptionTimesXXTEA[3] %>
                        </td>
                    </tr>
                    <tr>
                        <td>2000</td>
                        <td>
                            <%= encryptionTimesXXTEA[4] %>
                        </td>
                        <td>
                            <%= decryptionTimesXXTEA[4] %>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div id="encryptionTimesXXTEA" data-values="<%= encryptionTimesXXTEA.join(', ') %>"></div>
            <div id="decryptionTimesXXTEA" data-values="<%= decryptionTimesXXTEA.join(', ') %>"></div>
            <canvas id="xxteaChart"></canvas>

            <h5 class="text-center" style="padding-top: 50px;">CAST</h5>
            <table>
                <thead>
                    <tr>
                        <th>Размер файла (кб)</th>
                        <th>Время зашифрования (мс)</th>
                        <th>Время расшифрования (мс)</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>10</td>
                        <td>
                            <%= encryptionTimesCAST[0] %>
                        </td>
                        <td>
                            <%= decryptionTimesCAST[0] %>
                        </td>
                    </tr>
                    <tr>
                        <td>100</td>
                        <td>
                            <%= encryptionTimesCAST[1] %>
                        </td>
                        <td>
                            <%= decryptionTimesCAST[1] %>
                        </td>
                    </tr>
                    <tr>
                        <td>500</td>
                        <td>
                            <%= encryptionTimesCAST[2] %>
                        </td>
                        <td>
                            <%= decryptionTimesCAST[2] %>
                        </td>
                    </tr>
                    <tr>
                        <td>1000</td>
                        <td>
                            <%= encryptionTimesCAST[3] %>
                        </td>
                        <td>
                            <%= decryptionTimesCAST[3] %>
                        </td>
                    </tr>
                    <tr>
                        <td>2000</td>
                        <td>
                            <%= encryptionTimesCAST[4] %>
                        </td>
                        <td>
                            <%= decryptionTimesCAST[4] %>
                        </td>
                    </tr>
                </tbody>
            </table>

            <div id="encryptionTimesCAST" data-values="<%= encryptionTimesCAST.join(', ') %>"></div>
            <div id="decryptionTimesCAST" data-values="<%= decryptionTimesCAST.join(', ') %>"></div>

            <canvas id="castChart"></canvas>


        </div>
    </main>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        // Данные для графиков
        const fileSizes = [10, 100, 500, 1000, 2000];

        // XXTEA
        const encryptionTimesXXTEA = document.getElementById('encryptionTimesXXTEA').getAttribute('data-values').split(', ');
        const decryptionTimesXXTEA = document.getElementById('decryptionTimesXXTEA').getAttribute('data-values').split(', ');


        const xxteaCtx = document.getElementById('xxteaChart').getContext('2d');
        new Chart(xxteaCtx, {
            type: 'line',
            data: {
                labels: fileSizes,
                datasets: [
                    {
                        label: 'Время зашифрования XXTEA (мс)',
                        data: encryptionTimesXXTEA,
                        borderColor: 'rgba(75, 192, 192, 1)',
                        fill: false,
                        tension: 0.1
                    },
                    {
                        label: 'Время расшифрования XXTEA (мс)',
                        data: decryptionTimesXXTEA,
                        borderColor: 'rgba(255, 99, 132, 1)',
                        fill: false,
                        tension: 0.1
                    }
                ]
            },
            options: {
                scales: {
                    x: {
                        title: {
                            display: true,
                            text: 'Размер файла (кб)'
                        }
                    },
                    y: {
                        title: {
                            display: true,
                            text: 'Время (мс)',
                            beginAtZero: true
                        }
                    }
                }
            }
        });

        // CAST
        const encryptionTimesCAST = document.getElementById('encryptionTimesCAST').getAttribute('data-values').split(', ');
        const decryptionTimesCAST = document.getElementById('decryptionTimesCAST').getAttribute('data-values').split(', ');


        const castCtx = document.getElementById('castChart').getContext('2d');
        new Chart(castCtx, {
            type: 'line',
            data: {
                labels: fileSizes,
                datasets: [
                    {
                        label: 'Время зашифрования CAST (мс)',
                        data: encryptionTimesCAST,
                        borderColor: 'rgba(75, 192, 192, 1)',
                        fill: false,
                        tension: 0.1
                    },
                    {
                        label: 'Время расшифрования CAST (мс)',
                        data: decryptionTimesCAST,
                        borderColor: 'rgba(255, 99, 132, 1)',
                        fill: false,
                        tension: 0.1
                    }
                ]
            },
            options: {
                scales: {
                    x: {
                        title: {
                            display: true,
                            text: 'Размер файла (кб)'
                        }
                    },
                    y: {
                        title: {
                            display: true,
                            text: 'Время (мс)',
                            beginAtZero: true
                        }
                    }
                }
            }
        });
    </script>
</body>

</html>